*{
    padding:0px;
    margin:0px;
    
}
html {
    height:100%;
}
body{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background: chocolate;
    background: linear-gradient(to right, green , teal);
}
.gradient{
   width:300px;
   height:100%;
   background: #CCC;
   /* background: -webkit-linear-gradient(-90deg, red, yellow);  */
   margin:100px  auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 10px;
}
input{
    padding: 10px;
    margin:30px auto;
   
    color: white; 
}
.inputs{
    display: flex;
    flex-direction: row;
}
#btn{
    padding: 10px;
    background: rgb(121, 216, 43);
    border: 2px solid rgb(175, 204, 166);
    border-radius: 4px;
    color:rgb(232, 236, 231);
    margin:5px;
    font-family: 'Segoe UI', Roboto,  sans-serif;
    font-size: 1.3em;
}
/* #gradient{
    height:100%
} */

